.card {
  border: 2px solid lightgoldenrodyellow;
  border-radius: 1rem;
  justify-content: center;
  align-content: center;
}

.card img {
  max-width: 100%;
  border-radius: 1rem;
}

.card:hover {
  border-color: blue;
}
