.header {
  width: min(25rem, 100%);
  align-self: center;
  padding-bottom: 2rem;
  margin-top: -1rem;
}

.header p {
  font-size: 1.25rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 1.1rem;
  color: white;
  border: 2px solid lightgoldenrodyellow;
  background-color: #494949;
  margin: 1rem 0;
  width: 11rem;
}

button:hover {
  border: 2px solid blue;
}
