.header {
  max-width: 80rem;
  align-self: center;
  padding-bottom: 2rem;
}

.header p {
  font-size: 1.5rem;
}

.header button {
  font-size: 1.25rem;
  border: 2px solid lightgoldenrodyellow;
  background-color: #494949;
  margin: 1rem 0;
}

.header button:hover {
  border: 2px solid blue;
}
